# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

jobs:
  print-hello:    
    docker:
      - image: cimg/base:stable    
    steps:
      - checkout
      - run:
          name: "Print hello"
          command: "Hello"
  print-world:    
    docker:
      - image: cimg/base:stable    
    steps:
      - checkout
      - run:
          name: "Print world"
          command: "World!"
workflows:
  say-hello-workflow:
    jobs:
      - print-hello          
      - print-world
        requires:
          - print-hello  
